.slideCaptchaContainer {
  position: relative;
  margin: 0 auto;

  .panel {
    position: absolute;
    margin: 0 auto;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 1000;

    .bgContainer {
      position: relative;

      .puzzleImg {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: 100%;
      }

      .bgImg {
        display: block;
        width: 100%;
        border-radius: 2px;
      }
    }

    .loadingContainer {
      position: relative;
      min-height: 300px;
      background-color: #f7f9fa;

      .slideCaptchaLoading {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .control {
    position: relative;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e4e7eb;
    background-color: #f7f9fa;

    .slided {
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 40px;
      border-radius: 2px;
    }

    .slider {
      touch-action: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      text-align: center;
      line-height: 40px;
      color: #777;
      background-size: 20px;
      font-size: 25px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .tips {
      text-align: center;
      line-height: 40px;
      color: #45494c;
      font-size: 20%;
    }
  }

  .slider-moving {
    .slided {
      border: 1px solid dodgerblue;
      border-right: 0;
      background-color: lightblue;
      transition: background 0.2s linear;
    }

    .slider {
      color: #777;
      border: none;
      border-radius: 0;
    }
  }

  .slider-end {
    .slider {
      color: #777;
      border: none;
      border-radius: 0;
    }

    .slided {
      border: 1px solid transparent;
      border-right: 0;
      background-color: transparent;
    }
  }

  .slider-error {
    .slided {
      border: 1px solid #f57a7a;
      border-right: 0;
      background-color: #fce1e1;
    }
  }

  .slider-success {
    .slided {
      border: 1px solid darkgreen;
      border-right: 0;
      background-color: darkseagreen;
    }
  }

  .reset {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

    .reset-btn {
      width: 60px;
      height: 40px;
    }
  }
}

