.slideCaptchaContainer {
  margin: 0 auto;
  position: relative;

  .panel {
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100%;

    .bgContainer {
      position: relative;
      height: 100%;

      .puzzleImg {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: 100%;
      }

      .bgImg {
        display: block;
        width: 100%;
        border-radius: 2px;
        height: 100%;
      }
    }

    .loadingContainer {
      position: relative;
      min-height: 300px;
      background-color: #f7f9fa;
      height: 100%;

      .slideCaptchaLoading {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .hoverPanelDefault {
    height: 310px;
  }

  .control {
    position: relative;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e4e7eb;
    background-color: #f7f9fa;

    .slided {
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 40px;
      border-radius: 2px;
    }

    .slider {
      touch-action: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      text-align: center;
      line-height: 40px;
      color: #777;
      background-size: 20px;
      font-size: 25px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .tips {
      text-align: center;
      line-height: 40px;
      color: #45494c;
      font-size: 14px;
    }
  }

  .slider-moving {
    .slided {
      border: 1px solid #3f91f7;
      border-right: 0;
      background-color: #e9f7fe;
      transition: background 0.2s linear;
    }

    .slider {
      color: #fff;
      border: 1px solid #3f91f7;
      border-radius: 0;
      background-color: #3f91f7;
    }
  }

  .slider-end {
    .slider {
      color: #777;
      border: none;
      border-radius: 0;
    }

    .slided {
      border: 1px solid transparent;
      border-right: 0;
      background-color: transparent;
    }
  }

  .slider-error {
    .slider {
      border: 1px solid #ff7875;
      background-color: #ff7875;
    }

    .slided {
      border: 1px solid #ff7875;
      border-right: 0;
      background-color: #fff1f0;
    }
  }

  .slider-success {
    .slider {
      border: 1px solid #389e0d;
      background-color: #389e0d;
    }

    .slided {
      border: 1px solid #389e0d;
      border-right: 0;
      background-color: #f6ffed;
    }
  }

  .reset {
    align-items: center;

    .rest-container {
      display: inline-block;
    }
  }
}

.reset-inline {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .reset-btn {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.reset-outline {
  padding-top: 12px;

  .reset-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #3f91f7;
    background-image: url('../../assets/img/reload_white.svg');
    background-size: 18px 18px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

