.slideCaptchaContainer {
  width: 1000px;
  margin-top: 400px;
}

.live-demo-title {
  font-size: 32px;
  text-align: center;
  margin-top: 24px;
}

.live-demo-sub-title {
  font-size: 21px;
  text-align: center;
  margin-top: 38px;
}

.live-demo-opt {
  font-size: 21px;
}

.live-demo-button {
  display: block;
  width: 105px;
  height: 50px;
  font-size: 12px;
  margin-right: 12px;
  float: left;
}
